<div class="bg-modal">
    <div class="modal-contents">
        <div class="close" id="close">+</div>
            <h2 class="fs-title">Ajouter un point noir</h2>
                <form id="msform" action="" method="post">
                    {% csrf_token %}
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Etape 1</li>
                        <li>Etape 2</li>
                        <li>Etape 3</li>
                        <li>Etape 4</li>
                        <li>Etape 5</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <input type="text" name="Pname" placeholder="Point noir"/>
                        <input type="text" name="Pcommune" placeholder="Commune"/>
                        <input type="text" name="Plocalisation" placeholder="Localisation"/>
                        <input type="text" name="Ppkvalue" placeholder="PK"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h3 class="fs-subtitle">Saisissez le nombre de victimes pour chaque catégorie</h3>
                        <input type="text" name="Pnbaccidents" placeholder="Nombre d'accidents"/>
                        <input type="text" name="Pnbdead" placeholder="Nombre de tués"/>
                        <input type="text" name="Pnbinjured" placeholder="Nombre de blessés"/>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h3 class="fs-subtitle">Saisissez le nombre de victimes pour chaque catégorie</h3>
                        <input type="text" name="Pcause" placeholder="Problèmes/causes"/>
                        <input type="text" name="Pmesures" placeholder="Mesures prises ou envisagées"/>
                        <input type="text" name="Premarks" placeholder="Observations"/>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h3 class="fs-subtitle">Etape4</h3>
                        
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    <fieldset>
                        <h3 class="fs-subtitle">Etape5</h3>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                        <input type="submit" name="submit" class="submit action-button" value="Confirmer"/>
                    </fieldset>
                </form>
            </div>
    </div>
<script>
    document.getElementById('button').addEventListener("click", function() {
            document.querySelector('.bg-modal').style.display = "flex";
        });
    document.getElementById('close').addEventListener("click", function() {
            document.querySelector('.bg-modal').style.display = "none";
        });
        //jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
    if(animating) return false;
    animating = true;

    current_fs = $(this).parent();
    next_fs = $(this).parent().next();

    //activate next step on progressbar using the index of next_fs
    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

    //show the next fieldset
    next_fs.show();
    //hide the current fieldset with style
    current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
            //as the opacity of current_fs reduces to 0 - stored in "now"
            //1. scale current_fs down to 80%
            scale = 1 - (1 - now) * 0.2;
            //2. bring next_fs from the right(50%)
            left = (now * 50)+"%";
            //3. increase opacity of next_fs to 1 as it moves in
            opacity = 1 - now;
            current_fs.css({
        'transform': 'scale('+scale+')',
        // 'position': 'absolute'
      });
            next_fs.css({'opacity': opacity});
        },
        // duration: 800,
        complete: function(){
            current_fs.hide();
            animating = false;
        },
        //this comes from the custom easing plugin
        easing: 'easeInOutBack'
    });
});
$(".previous").click(function(){
    if(animating) return false;
    animating = true;

    current_fs = $(this).parent();
    previous_fs = $(this).parent().prev();

    //de-activate current step on progressbar
    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

    //show the previous fieldset
    previous_fs.show();
    //hide the current fieldset with style
    current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
            //as the opacity of current_fs reduces to 0 - stored in "now"
            //1. scale previous_fs from 80% to 100%
            scale = 0.8 + (1 - now) * 0.2;
            //2. take current_fs to the right(50%) - from 0%
            left = ((1-now) * 50)+"%";
            //3. increase opacity of previous_fs to 1 as it moves in
            opacity = 1 - now;
            // current_fs.css({'left': left});
            previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
        },
        // duration: 800,
        complete: function(){
            current_fs.hide();
            animating = false;
        },
        //this comes from the custom easing plugin
        easing: 'easeInOutBack'
    });
});

</script>