{% load static %}

<div class="navbar">
    <div id="menu" class="menu">
        <a><i class="bi-list"></i></a>
      </div>
    <i class="bi-bell"></i>
   <div class="profil-wrapper">
        <a class="profil" href="#">
            <i class="bi-person-circle" id="profil"></i>
            {% if request.user.is_authenticated %}
            <label id="profil" >{{user.get_username}}</label>
            {% endif %}
            <i class="bi-chevron-down" id="profil"></i>
        </a>
        <div class="bg-profil" >
           
            <!-- <p>admin@gmail.com</p>
            <hr class="line-profil"> -->
            <a href="/profil"> Mon profil </a>
            {% if request.user.is_authenticated%}
            <a href="/logout"> Se déconnecter </a>
            {% endif %}
        </div>
   </div>
</div>

<script>
    document.getElementById("profil").addEventListener('click', function(){
        if (document.querySelector(".bg-profil").style.display === "flex"){
            document.querySelector(".bg-profil").style.display = "none"
        }
        else{
            document.querySelector(".bg-profil").style.display = "flex"
        }
    })

    document.getElementById("menu").addEventListener('click', function(){
        
    })
    
</script>
